# Auto detect text files and perform LF normalization
* text=auto
*/__pycache__
/.VSCodeCounter
/build
/dist
/.vscode
/devtool/tests/__pycache__
/devtool/tests/utils/__pycache__
/devtool/utils/__pycache__
/DevLog